<!DOCTYPE html>
<nav>
  <div class="site-nav">
    <button class="menu-toggle" aria-label="Toggle navigation menu">
      <span class="hamburger-icon"><span></span></span>
    </button>
    <ul class="nav-menu">
      <li><a href="{{ '/' | relative_url }}">About me</a></li>
      <li><a href="{{ '/work-experience' | relative_url }}">Work Experience</a></li>
      <li><a href="{{ '/cv' | relative_url }}">CV</a></li>
      <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
      <li><a href="{{ '/useful-links' | relative_url }}">Useful links</a></li>
    </ul>
  </div>
</nav>
